{% extends "base.html" %}
{% block content %}
    
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Breast Cancer Analysis Dashboard</h1>
    <p>Welcome to a comprehensive tool for analyzing breast cancer data and making predictions using machine learning models. 
        Navigate using the menu above to explore visualizations, insights, and predictive capabilities.</p>
</body>
</html>